<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href='/Content/app.css'>

  <script src="/Scripts/app.js"></script>
<title>Home</title>
</head>

<body>

<div class="Landing">
    <h1> Welcome </h1>
    <p> Welcome to the To Do List application. You will be using this website to create a to do list to manage your tasks. 
    The tasks are organized by 'task', 'priority' and 'due' date. Good luck, and stay organized!</p>

</div>

</body>

</html>